/* COMMUN RULES */
.container {
	width: 1300px;
	margin: 0 auto;
}

body {
	font-size: 16px;
}

h1 {
	font-size: 24px;
}

button {
	cursor: pointer;
}

input:focus {
	outline: none;
}

/* HEADER */
.header {
	height: 55px;
	width: 100%;
	background-color: white;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 50px;
}

.header-button button {
	margin-left: 10px;
	cursor: pointer;
	height: 28px;
	width: 150px;
	border: 1px solid #05b2bb;
	border-radius: 5px;
}

.header-button button:not(:last-child) {
	background-color: white;
	color: #05b2bb;
}

.header-button button:last-child {
	background-color: #05b2bb;
	color: white;
}

/* HOME PAGE*/
.imgHome {
	width: 100%;
	height: 612px;
	object-fit: cover;
}

.tear {
	margin-top: -450px;
}

.avatar {
	height: 25px;
	width: 25px;
	object-fit: cover;
	margin: 0 9px;
	border-radius: 50%;
}

.article {
	width: 230px;
	height: 350px;
	object-fit: cover;
}

.offer {
	margin-top: 28px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.seller {
	display: flex;
	margin-bottom: 8px;
	align-items: center;
}

/* OFFER */

.offer-page {
	display: flex;
	background-color: #eaedee;
	height: 100vh;
	justify-content: space-evenly;
	padding-top: 150px;
}

.offer-page-description {
	background-color: white;
	padding: 50px;
	height: 500px;
	width: 350px;
}

.offer-page img {
	height: 600px;
	width: 450px;
}

.offer-price {
	margin: 10px 0 30px;
}

.offer-key {
	padding-right: 50px;
	width: 110px;
	color: #a0a0a0;
}

.offer-elem {
	color: #686868;
}

.array-description {
	display: flex;
}

.hr-sect {
	display: flex;

	align-items: center;
	color: black;
	margin-top: 80px;
}

.hr-sect:before,
.hr-sect:after {
	content: "";
	flex-grow: 1;
	background: black;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}

.offer-page-description img {
	height: 40px;
	width: 40px;
	object-fit: cover;
}

.offer-page-description button {
	background-color: #05b2bb;
	color: white;
	border: none;
	width: 100%;
	height: 40px;
}

/* PAYMENT*/
.bgc-payment {
	padding-top: 100px;
	background-color: #eaedee;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.payment-container {
	background-color: #fff;
	height: 400px;
	width: 400px;
}

/* SIGNUP */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.signup ::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #cbcccd;
	opacity: 1; /* Firefox */
}

.signup :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #cbcccd;
}

.signup ::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #cbcccd;
}

.signup h1 {
	margin-bottom: 45px;
	margin-top: 60px;
}

.signup input {
	border: none;
	border-bottom: #fcced2 1px solid;
	padding-bottom: 10px;
	display: flex;
	width: 280px;
	font-size: 16px;

	margin-bottom: 30px;
}

.signup button {
	background-color: #05b2bb;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 100%;
	border-radius: 5px;
}

.signup {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup-redirect {
	text-decoration: none;
	color: #05b2bb;
	margin-top: 20px;
}

.file-select {
	background-color: white;
	padding: 24px;
	margin: 20px 0;
	box-shadow: 0 0 2px gray;
}

.dashed-preview-without {
	border: 1px #ebedee dashed;
	border-radius: 3px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.input-design-default {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #0ab1ba;
	border-radius: 4px;
	height: 45px;
	width: 200px;
}

.dashed-preview-image {
	border: 1px #ebedee dashed;
	border-radius: 3px;
	height: 200px;
	display: flex;
	align-items: center;
}
.dashed-preview-image img {
	height: 90%;
	margin: 0 10px;
}
.remove-img-button {
	position: relative;
	color: black;
	background-color: white;
	right: 60px;
	bottom: 70px;
	height: 25px;
	line-height: 25px;
	width: 30px;
	border-radius: 4px;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
}
.label-file {
	cursor: pointer;
	color: #0ab1ba;
	font-weight: bold;
}
.label-file > span {
	margin: 0 10px;
	vertical-align: middle;
}
.label-file:hover {
	color: #25a5c4;
}

.input-sign {
	font-size: 40px;
}

input[type="file" i] {
	display: none;
}
